<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Bluff" Language="1033" Version="1.1.0.0" Manufacturer="Alien Arc Technologies, LLC" UpgradeCode="ae6a3de3-025d-45b2-8773-1a36bde13e08">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Icon Id="bluff.ico" SourceFile="..\bluff.ico"/>
		<Property Id="ARPPRODUCTICON" Value="bluff.ico" />
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Bluff" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="CommonAppDataFolder">
				<Directory Id="SONYFOLDER" Name="Sony">
					<Directory Id="VEGASPROFOLDER" Name="Vegas Pro">
						<Directory Id="INSTALLFOLDER" Name="Application Extensions"/>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="BluffProductComponent">
				<File Source="$(var.Bluff.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>